body {
  margin: 0;
  background-color: #CBE4F9;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.screen {
  background-color: rgba(255,255,255,.5);
  box-sizing: border-box;
  margin: 15px auto;
  padding: 15px;
  max-width: 700px;
  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
}
h1, h4 {
  text-align: center;
}
button {
  background-color: hex(#76a3c7);
  border: none;
  outline: none;
  border-radius: 19px;
  box-shadow: 3px 3px 7px rgb(76, 148, 207);
  font-size: 24px;
  display: block;
  margin: 10px auto;
  min-height: 70px;
  width: 100%;
}
.highlight {
  background-color: #80e680;
  color: white;
}
.highlightWrong {
  background-color: #ce7474;
  color: white
}
canvas {
  min-width: 100vw;
  min-height: 100vh; 
  position: absolute;
  top: 0;
  z-index: -1;
}